/**
 * Layout for responsive style through media queries.
 */


@media screen and (max-width: 1400px) {
    .region-header-col-2 {
        .rm-desktop a {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 1200px) {
    .region-header-col-2 {
        .rm-desktop a {
            font-size: 0.9rem;
            padding-left: 0.2em;
            padding-right: 0.2em;
        }
    }
}

@media screen and (max-width: 960px) {
    .rm-desktop {
        display: none;
    }
    .region-main {
        #desinax-vgrid.column(@columns);
    }
    .inner-wrap-footer {
        #desinax-vgrid.grid(100%);
    }
}

@media screen and (max-width: 800px) {
    
    .region-main.has-sidebar-right,
    .region-main.has-sidebar-left,
    .region-main.has-sidebar-left.has-sidebar-right,
    .region-sidebar-left,
    .region-sidebar-right,
    .region-sidebar-left.has-sidebar-right,
    .region-sidebar-right.has-sidebar-left {
        #desinax-vgrid.column(@columns);
        #desinax-vgrid.push(0);
    }

    .toc {
        display: none;
    }

    h1 {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h4,
    h3 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 700px) {
    .footer-column {
        #desinax-vgrid.column(@columns);
        #desinax-vgrid.push(0);
    }
}


@media screen and (max-width: 520px) {
    
    .stylechooser,
    .stylechooser select {
        font-size: 0.8rem;
        padding: 0;
    }

    .stylechooser p {
    font-size: 0.9rem;
    padding: 0;
    }
}


/**
 * Responsive figures.
 */

@maxContentWidth: 1100px;

&.left,
&.right {
    @media screen {
        @media (max-width: round(@maxContentWidth * 2 / 3)) {
            &.w50 {
                margin-left: 0;
                margin-right: 0;
                float: none;
                img {
                    width: @maxContentWidth * 2 / 3;
                }
            }
        }
    }
}